body {

	font-family: 'Raleway', sans-serif;
}

#special {
background: yellow;
}

.completed {
text-decoration: 	line-through;
}

h1 {
	text-align:  : left;
}

table  td {
	border: solid black 2px;
	padding: 50px;
}